.loader{
  z-index: 3;
  border: 10px solid #f3f3f3; 
  border-top: 10px solid #3498db; 
  border-bottom: 10px solid #340e9d;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  opacity: 1;
}
.nav-loader{
  display: block;
  position: fixed;
  left: 50%;
  top: 10px;
}
.tour-loader{
  border-left: 10px solid #07aadc;
  border-right: 10px solid #7afe5d;
  margin-top: 120px;
  margin-bottom:120px;
}
.footer-loader{
  border-left: 10px solid #dc0775;
  border-right: 10px solid #fff;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fadeOut {
  animation: fadeOut 0.7s ease-out;
  animation-fill-mode: forwards; /* Mantiene el estado final de la animacion */
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { display: none; opacity: 0; height: 0; width:0; }
}
