:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black-dark: #000;
  --black-100: #100;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColorBlack: var(--grey-900);
  --backgroundColorWhite: var(--grey-50);
  --textColorBlack: var(--grey-50);
  --textColorWhite: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}





/*-------------------------------------------- BOTH CONTAINERs*/
.container-black,
.container-white{
  padding: 1rem;
}

.container-black button, .container-black input,
.container-white button, .container-white input{
  border-radius: 8px;
  padding: 0.4em;
  margin: 0.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

.container-black button:hover,
.container-white button:hover {
  border-color: #7ec8fc;
} 

.container-white  button:focus, button:focus-visible,
.container-black  button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container-black button:disabled,
.container-white button:disabled{
  border-color: #f709216e;
  color: aliceblue
}

/*-------------------------------------------- BLACK CONTAINER*/
.container-black {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.container-black > a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.container-black > a:hover {
  color: #535bf2;
}

.container-black button, .container-black input{
  color: #fff;
  background-color: #1a1a1a;
  transition: #535bf2 0.25s;
  border: 1px solid #0000007b;
}

/*---------forms color, structure in index WHITE CONTAINER*/
.container-black .form {
  background: var(--grey-700);
  border: 1px solid var(--grey-700);
}

.container-black .form-input,
.container-black .form-textarea {
  background: var(--backgroundColorBlack);
  border: 1px solid var(--grey-500);
}

.container-black::placeholder {
  color: var(--grey-500);
}


/*-------------------------------------------- WHITE CONTAINER*/
.container-white {
  color: #000;
  background-color: #fff;
}

.container-white > a {
  font-weight: 500;
  color: #de1dec;
  text-decoration: inherit;
}
.container-white > a:hover {
  color: #de1dec;
}

.container-white button, .container-white input{
  color: #000;
  background-color: #d1d1d1;
  transition: #535bf2 0.25s;
  border: 1px solid #9999997b;
}
.container-white .form {
  background: var(--grey-200);
  border: 1px solid var(--grey-400);
}

.container-white .form-input,
.container-white .form-textarea {
  background: var(--backgroundColorWhite);
  border: 1px solid var(--grey-900);
}

.container-white::placeholder {
  color: var(--grey-300);
}


/*-------------------------------------------- ESPECIAL TITLE*/
.special-title{
  border-radius: 8px;
  border: 3px solid #646cff;
  padding: 0.2rem;
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  font-family: inherit;
  color: #646cff;
  background-color: #c6c5c533;
  border-color: #646cff;
  cursor:cell;
  transition: border-color 0.25s;
  box-shadow: 0 0 40px 2px #f9f9f9b5;
  
  animation: special-title-spin 4s linear infinite;
}

@keyframes special-title-spin {
  0% {
    border-color: #646cff;
    color: #646cff;
  }
  25% {
    border-color: #9c00fd;
    color: #9c00fd;
  }
  50% {
    border-color: #fdd300;
    color: #fdd300;
  }
  75% {
    border-color: #15ff00;
    color: #15ff00;
  }
  100% {
    border-color: #646cff;
    color: #646cff;
  }
}